<body>
  <h1 style="margin-top:1%; margin-left: 15%; color:#33d4e2; font-family: 'Oleo Script', cursive; font-size: 30px;">GRIEVANCE CELL</h1> 
  <div fxLayoutAlign="end center" fxFlexFill class="main-div">
  <mat-card fxFlex="40%" style="margin-right: 5%; margin-bottom: 5%;">
     <mat-toolbar>SIGN UP</mat-toolbar>
     <div id="signupBox" style="margin-top: 5%;">
        <form #signup = "ngForm" (ngSubmit) = "registerUser()" fxLayoutAlign="stretch" fxLayout="column" class="signup-form">
            <mat-form-field appearance="fill">
              <input [(ngModel)]="registerUserData.email" name="email" matInput type="email" id="email" placeholder="Enter email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input [(ngModel)]="registerUserData.username" name="username" matInput type="text" id="username" placeholder="Enter username" required>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="registerUserData.mobileNumber" name="telno" matInput type="tel" id="mobileNumber" placeholder="Enter mobile number" required>
              </mat-form-field>
            <mat-form-field appearance="fill">
              <input [(ngModel)]="registerUserData.password" name="password" matInput [type]="hide ? 'password' : 'text'" id="password" placeholder="Enter password" required>
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [type]="hide ? 'password' : 'text'"id="confirmPassword" placeholder="Confirm password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            <input id="submitButton" type="submit" value="Sign Up" style="width: 40%; margin-left: 30%;background-color:rgb(135, 148, 228); border-color: rgb(135, 148, 228);">
            <h3 style="text-align: right;">Already a User?<a id="signinLink" routerLink="/">Login</a></h3>
          </form>
          </div>
   </mat-card>
</div>
