.navbar{
    padding-left: 30px;
    padding-top: 40px;
    height: 50px;
    background-color: rgb(150, 161, 230);
    color: white;
}
.navbar-nav {
    margin-left: auto;
}
.split-right{
    width: 400px;
    align-content: flex-end;
    background-color: rgb(240, 239, 239);
}
.split-left{
    width: 60%;
    align-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.inner-container{
    justify-content: space-between;
    color: white;
    padding-left: 40px;
    padding-top: 40px;
    font-size: medium;
}
th{
    color:rgb(163, 243, 155);
    font-size: medium;
    font-weight: normal;
    width: 5%;
}
td{
    color: white;
}
h2{
    font-family: 'Oleo Script', cursive;
}
body{
    background-image:url("/assets/cliparts/employee.jpg");
    background-size:40%;
	background-repeat:no-repeat;
    background-position:bottom left;
    min-height: 100vh;
}