<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">Grievance Cell</span>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a id="homeButton" class="nav-link" [routerLink]="['/adminhome']">Home</a>
        </li>
        <li class="nav-item">
          <a id="manageUserButton" class="nav-link active" [routerLink]="['/adminmanageusers']">Manage User</a>
        </li>
        <li class="nav-item">
          <a id="logoutButton" class="nav-link" style="cursor: pointer;" (click)="authService.logoutUser()">Logout</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container" id="updateDeveloperManage">
  <div class="split-left">

      <div class="row">
          <div class="col">
             <h1>ID</h1>
          </div>
          <div class="col">
              <h1>Username</h1>
           </div>
           <div class="col">
              <h1>Role</h1>
           </div>
           <div class="col">
              <h1>Options</h1>
           </div>
       </div>
       <div *ngFor="let employee of employeeDetails; let i=index;">
        <div id="grid{{[i+1]}}" class="inner-container mt-2" style="background-color: rebeccapurple;">
          <div class="row">
            <div class="col">
               <p>{{employee['id']}}</p>
            </div>
            <div class="col">
              <p>{{employee['username']}}</p>
            </div>
            <div class="col">
              <p>Developer</p>
            </div>
            <div class="col">
              <p>
                <button  class="btn btn-light "(click)="manageUsersById(employee['id'])" style="margin-left:20px;"><i class="fa fa-edit " ></i></button>
                <button class="btn btn-light" (click)="deleteEmployeeById(employee['id'])" style="margin-left:20px;"><i class="fa fa-trash " ></i></button>
              </p>
            </div>
          </div>
        </div>
       </div>


  </div>
  
 <div >
    <input type="submit" (click)="addEmployee()" id="addButton" class="btn btn-primary" value="+ Add"  >
 </div>

 <div id="comp-render" class="split-right" *ngIf="display">
  <app-admin-add-employee></app-admin-add-employee>
 </div>
</div>
