<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="50%">
    <mat-toolbar>Grievance Cell</mat-toolbar>
    <div id="loginBox">
         <h3 style="padding-top: 30px; color: blue; font-size: 20px;"fxLayoutAlign="center">Login</h3>
         <form #login = "ngForm" (ngSubmit) = "loginUser()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field appearance="fill">
              <input [(ngModel)]="loginUserData.email" matInput type="email" name="email" id="email" placeholder="Enter email" required ngModel>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <input [(ngModel)]="loginUserData.password" matInput [type]="hide ? 'password' : 'text'" name="pass" id="password" placeholder="Enter password" required ngModel>
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Select Roles</mat-label>
              <mat-select name="role" required ngModel>
                <mat-option value="Admin">Admin</mat-option>
                <mat-option value="Employee">Employee</mat-option>
                <mat-option value="Customer">Customer</mat-option>
              </mat-select>
            </mat-form-field> -->
            <div class="container">
              <!-- <h4><a id="forgotPasswordLink"[routerLink]="['forgotpasswordemailauth']">Forgot Password?</a></h4> -->
              <h4 style="text-align: right;">New User?<a id="signupLink" [routerLink]="['signup']" routerLinkActive="active">Sign Up</a></h4>
            </div>
            <input id="loginButton" type="submit" class="btn btn-primary" value="Login" style="width: 20%; margin-left: 40%;">
         </form>
    </div>
  </mat-card>
</div>
